<head>
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <link rel="stylesheet" type="text/css" href="/styles/global.css" />
  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</head>
