<style>
    
    .form-password-field-container__user-helper {
        .loader:before {
            content: '•';
        }
    }

    .form-password-field-container__user-helper[valid] {
        color: green;
    }

    .form-password-field-container__user-helper[valid] {
        .loader:before {
            content: '✓';
        }
    }

</style>

<div id="form-password-field-container">
    <label for="password-field">Password</label>
    <input type="password" 
        name="password-field" 
        value="<%=value%>"
        <% if(pattern) { %> pattern="<%=pattern%>" <% } %>
        required="<%=required%>"
    />
    <span id="password-validator" class="form-validator">Validating...</span>

    <% if(!valid && value.length > 0) { %>
    <span style="color: red"> <%= errorMessage %> </span>
    <% } %>
    <div id="form-password-field-container__user-helper">
        <div id="form-password-field-container__user-helper__length-container" class="form-password-field-container__user-helper">
            <span class="loader"></span>
            <span class="description">At least 12 characters</span>
        </div>
        <div id="form-password-field-container__user-helper__lower-characters-container" class="form-password-field-container__user-helper">
            <span class="loader"></span>
            <span class="description">Lower case characters (a-z)</span>
        </div>
        <div id="form-password-field-container__user-helper__upper-characters-container" class="form-password-field-container__user-helper">
            <span class="loader"></span>
            <span class="description">Upper case characters (A-Z)</span>
        </div>
        <div id="form-password-field-container__user-helper__number-container" class="form-password-field-container__user-helper">
            <span class="loader"></span>
            <span class="description">Number (0-9)</span>
        </div>
    </div>
</div>

<script>
    
    window.onload = () => {

        const minNumberOfCharacters = (value, min) => value.length >= min;
        const hasLowerCase = (value) => /[a-z]/.test(value);
        const hasUpperCase = (value) => /[A-Z]/.test(value);
        const hasNumber = (value) => /[0-9]/.test(value);

        const passwordField = document.querySelector('#form-password-field-container input');

        passwordField.addEventListener('input', ({ target: { value }}) => {
            
            console.log('password changed', value);

            if(minNumberOfCharacters(value, 12)) {
                document.querySelector('#form-password-field-container__user-helper__length-container').setAttribute('valid', true);
            } else {
                document.querySelector('#form-password-field-container__user-helper__length-container').removeAttribute('valid');
            }

            if(hasLowerCase(value)) {
                document.querySelector('#form-password-field-container__user-helper__lower-characters-container').setAttribute('valid', true);
            } else {
                document.querySelector('#form-password-field-container__user-helper__lower-characters-container').removeAttribute('valid');
            }

            if(hasUpperCase(value)) {
                document.querySelector('#form-password-field-container__user-helper__upper-characters-container').setAttribute('valid', true);
            } else {
                document.querySelector('#form-password-field-container__user-helper__upper-characters-container').removeAttribute('valid');
            }

            if(hasNumber(value)) {
                document.querySelector('#form-password-field-container__user-helper__number-container').setAttribute('valid', true);
            } else {
                document.querySelector('#form-password-field-container__user-helper__number-container').removeAttribute('valid');
            }

        });

    }

</script>