.form-password-field-container__user-helper {
    .loader:before {
        content: '•';
    }
}

.form-password-field-container__user-helper[valid] {
    color: green;
}

.form-password-field-container__user-helper[valid] {
    .loader:before {
        content: '✓';
    }
}