<html lang="en">
  <%- include('../../../shared/views/partials/head.ejs', {title, description}) %>
  <body>
    <main>
      <header>
        <h1>Sign up</h1>
      </header>
      <%- include('../molecules/auth-form.ejs', {form}) %>
      <div>
        <span>Already have an account?</span>
        <a href="/sign-in">Sign in</a>
      </div>
      <span>or</span>
      <div>
        <button>Google</button>
        <button>Facebook</button>
        <button>Microsoft</button>
        <button>Github</button>
      </div>
    </main>
  </body>
</html>

<script>
  window.onload = () => {
    passwordFieldInit();
  }
  document.addEventListener("htmx:afterOnLoad", (data) => {
    if(data.detail.target.id == 'auth-form') {
      passwordFieldInit();
    }
  });
</script>